Beaker==1.6.5.post1
BeautifulSoup==3.2.1
Django==1.8.2
Pillow==2.8.2
PyYAML==3.11
Pygments==2.0.2
Unidecode==0.04.17
akismet==0.2.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
behave==1.2.5
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
https://github.com/civicresourcegroup/data-importer/archive/1.9.9.zip
defusedxml==0.4.1
dj-database-url==0.3.0
django-adminplus==0.3
django-allauth==0.19.1
-e git+https://github.com/civicresourcegroup/django-suit-alphabetfilter.git#egg=django-suit-alphabetfilter
django-behave==0.1.5
django-celery==3.1.16
django-contrib-comments==1.6.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
-e git+https://github.com/kronoscode/django-disqus.git#egg=django-disqus
django-easy-select2==1.2.12
-e git+https://github.com/civicresourcegroup/django-filer@sp#egg=django-filer
-e git+https://github.com/mihasK/django-filter.git@support-limit_choices_to-callable#egg=django-filter
django-fluent-comments==1.0.2
django-fsm==2.2.1
django-fsm-admin==1.2.1
django-globals==0.2.1
django-haystack==2.3.1
django-hstore==1.3.5
django-jenkins==0.16.3
django-kombu==0.9.4
django-leaflet==0.15.2
django-localflavor==1.1
django-location-field==1.5.2
-e git+https://github.com/django-money/django-money@81069d268ebd9de9c80dafac1fdcbabfa2b9143e#egg=django-money
django-mptt==0.7.4
django-mptt-admin==0.2.1
django-neighborhoods==2.0.1
django-nose==1.4
django-polymorphic==0.7.1
-e git+https://github.com/civicresourcegroup/django-recurrence#egg=django-recurrence
django-redactorjs==0.3.1
django-rest-auth==0.3.4
-e git://github.com/marcgibbons/django-rest-swagger.git@0.2.9#egg=django-rest-swagger
django-selenium==0.9.7
django-session-security==2.2.1
django-solo==1.1.0
django-storages==1.1.8
django-suit==0.2.13
django-taggit==0.14.0
django-taggit-autosuggest==0.2.7
djangorestframework==3.0.5
djangorestframework-gis==0.8
djangorestframework-xml==1.0.1
docopt==0.4.0
easy-thumbnails==2.2
elasticsearch==1.2.0
enum34==1.0.4
ipython==3.1.0
jdcal==1.0
kombu==3.0.26
lxml==3.4.2
mailchimp==2.0.9
mock==1.0.1
nose==1.3.7
oauthlib==0.7.2
openpyxl==2.1.1
parse==1.6.6
parse-type==0.3.4
psycopg2==2.4.5
pudb==2015.3
py-moneyed==0.5.0
pyelasticsearch==0.7.1
python-dateutil==2.4.2
python-forecastio==1.3.2
python-openid==2.2.5
pytz==2015.4
raven==5.1.1
requests==2.7.0
requests-oauthlib==0.5.0
selenium==2.46.0
simplejson==3.7.3
six==1.9.0
sqlparse==0.1.15
urllib3==1.10.4
urwid==1.3.0
wsgiref==0.1.2
xlrd==0.9.3
xvfbwrapper==0.2.4

WebTest==2.0.18
django-webtest==1.7.8

coverage==3.7.1
django-coverage==1.2.4
