Django==1.8.2
psycopg2==2.6.1
behave==1.2.5
django-behave==0.1.5

django-allauth==0.21.0
django-otp==0.3.1
qrcode==4.0.4
django-nose==1.4.1
django-selenium==0.9.7
django-jenkins==0.16.3
easy-thumbnails==2.2
django-session-security==2.2.1
mock==1.0.1
django-taggit==0.14.0
dj-database-url==0.3.0
django_hstore==1.3.5
-e git+https://github.com/mihasK/django-filter.git@support-limit_choices_to-callable#egg=django-filter
django-polymorphic==0.7.1
django-contrib-comments==1.6.1
-e git+https://github.com/hovel/django-mptt-comments.git#egg=django-mptt-comments
django-haystack==2.4.0
enum34==1.0.4
pyelasticsearch==0.7.1
elasticsearch==1.2.0
django-safedelete==0.3.1

django-easy-select2==1.2.12
django-taggit-autosuggest==0.2.7
-e git+https://github.com/civicresourcegroup/django-recurrence#egg=django-recurrence
-e git+https://github.com/django-money/django-money@81069d268ebd9de9c80dafac1fdcbabfa2b9143e#egg=django-money
https://github.com/civicresourcegroup/data-importer/archive/1.9.9.zip
django_globals==0.2.1
django-filer==0.9.12
raven==5.1.1
django-redactorjs==0.3.1

# FSM LIBS
-e git+https://github.com/kmmbvnr/django-fsm#egg=django-fsm
-e git+https://github.com/gadventures/django-fsm-admin#egg=django-fsm-admin

django-adminplus==0.3
django-fluent-comments==1.0.2
django-location-field==1.5.2
django-debug-toolbar==1.2.2
-e git+https://github.com/kronoscode/django-disqus.git#egg=django-disqus
django-solo==1.1.0
django-leaflet==0.15.2
mailchimp==2.0.9
coverage==3.7.1
Beaker==1.6.5.post1
python-forecastio==1.3.2

# RESFRAMEWORK LIBS
djangorestframework==3.1.3
djangorestframework-gis==0.9.3

django-rest-auth==0.3.4
django-rest-swagger==0.3.3
djangorestframework-xml==1.0.1
####################
docopt==0.4.0
celery==3.1.18
django-celery==3.1.16
django-kombu==0.9.4
kombu==3.0.26
billiard==3.3.0.20
lxml==3.4.2
boto==2.38.0
django-storages==1.1.8
BeautifulSoup==3.2.1
Pillow==2.8.2
django-mptt==0.7.4
django-mptt-admin==0.2.1
requests==2.7.0
requests-oauthlib==0.5.0
PyYAML==3.11
django-localflavor==1.1

-e git://github.com/vechorko/django-neighborhoods.git@#egg=django-neighborhoods

LEPL==5.1.3

factory-boy==2.5.2
fake-factory==0.5.2
beautifulsoup4==4.3.1
django-model-utils==2.3.1
django-reversion==1.9.3
pycrypto==2.6.1

